@model IEnumerable<DataBaseWriteAndLoad.Models.Ai>
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlgorithmName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HyperparameterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrossName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AlgorithmName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HyperparameterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CrossName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</body>
</html>
