@model IEnumerable<MvcJson.Models.Location>
@using Newtonsoft.Json;

@{
    var jsMonth = JsonConvert.DeserializeObject(ViewBag.Labels);
    var jsArray = JsonConvert.DeserializeObject(ViewBag.JsonLocations);
}


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="lineChart" width="400" height="400"></canvas>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>城市</th>
            <th>1-12月平均溫度資料</th>
        </tr>
    </thead>
    <tbody>
        @{
            @foreach(var m in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(item => m.City)</td>
                    <td>@Html.DisplayFor(item => m.Temperature)</td>
                </tr>
            }
        }
    </tbody>
</table>

@section endJS
{
    <script>
        const ctx = document.getElementById('lineChart').getContext('2d');      
        const lineChart = new Chart(ctx, {
            type: 'line',
            data:
            {
                labels: @Html.Raw(jsMonth),
                datasets:
                [
                    {
                        label: '@Html.Raw(jsArray[0].City)',
                        data: @Html.Raw(jsArray[0].Temperature)
                    },
                    {
                        label: '@Html.Raw(jsArray[1].City)',
                        data: @Html.Raw(jsArray[1].Temperature)
                    },
                    {
                        label: '@Html.Raw(jsArray[2].City)',
                        data: @Html.Raw(jsArray[2].Temperature)
                    }
                ]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 26,
                },
                legend: {
                    position: 'bottom',
                    labels: {
                        fontColor: 'black' 
                    }
                }
            }
        });
    </script>

}
